@import "tailwindcss";

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir-font/Vazir.woff2") format("woff2"),
        url("../fonts/vazir-font/Vazir.woff") format("woff"),
        url("../fonts/vazir-font/Vazir.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir-font/Vazir-Bold.woff2") format("woff2"),
        url("../fonts/vazir-font/Vazir-Bold.woff") format("woff"),
        url("../fonts/vazir-font/Vazir-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/vazir-font/Vazir-Light.woff2") format("woff2"),
        url("../fonts/vazir-font/Vazir-Light.woff") format("woff"),
        url("../fonts/vazir-font/Vazir-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}


@theme {
    --font-vazir: Vazir, sans-serif;

    --color-primary: #FFD700;
    --color-surface: #f3f4f6;

    --spacing-13 : 3.25rem;
    --spacing-18 : 4.5rem;
    --spacing-42 : 10.5rem;
}

@layer base {
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  input::-ms-clear {
    @apply hidden;
  }

  input::-webkit-clear-button {
    @apply hidden;
  }
}